Content-Type: text/html; charset=utf-8

<html>
<body>
    <p>Lloyd,</p>
    <p>You've received an enquiry from callerinsights.co.uk. Details submitted were:
        <ul>
            <li>Name: @ViewBag.Name</li>
            <li>Company: @ViewBag.Company</li>
            <li>Email: @ViewBag.From</li>
            <li>Phone: @ViewBag.Phone</li>
            <li>Enquiry: @ViewBag.Enquiry</li>
        </ul>
    </p>

    <p>Kind Regards,</p>

    <p>The Caller Insights Team.</p>
</body>
</html>